body {
   background-image: url(images/background_fon.jpg);
}

.start {
   color: black;
   font-size: 80px;
   position: absolute;
   top: 350px;
   left: 700px;
   border: 10px solid #000000;
   border-radius: 100px;
   padding: 10px;
   text-decoration: none;
}

#dis_image {
   position: absolute;
   left: 700px;
   top: 300px;
}

#math {
   font-size: 75px;
   position: absolute;
   left: 730px;
   top: 104px;
}

#solution {
   font-size: 40px;
   position: absolute;
   left: 1108px;
   top: 118px;
}

#a_dis {
   font-size: 35px;
   height: 45px;
   width: 100px;
   position: absolute;
   top: 198px;
   left: 960px;
}

#b_dis {
   font-size: 35px;
   height: 45px;
   width: 100px;
   position: absolute;
   top: 258px;
   left: 960px;
}

#c_dis {
   font-size: 35px;
   height: 45px;
   width: 100px;
   position: absolute;
   top: 320px;
   left: 960px;
}

#abc {
   position: absolute;
   font-size: 55px;
   top: 130px;
   left: 600px;
}

#answer {
   position: absolute;
   font-size: 55px;
   top: 430px;
   left: 600px;
}

#answer1 {
   position: absolute;
   font-size: 55px;
   top: 490px;
   left: 600px;
}

#answer2 {
   position: absolute;
   font-size: 55px;
   top: 550px;
   left: 600px;
}

#answer3 {
   position: absolute;
   font-size: 55px;
   top: 610px;
   left: 600px;
}